/*声明 WebFont*/
@font-face {
    font-family: "STLiBian";
    src: url("STLiBian.eot");
    src: url("STLiBian.eot?#font-spider") format("embedded-opentype"),
      url("STLiBian.woff") format("woff"),
      url("STLiBian.ttf") format("truetype"),
      url("STLiBian.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }


@font-face {
  font-family: 'AvantGardeITCbyBT';
  src: url('AVGARDM.eot');
  src:
      url('AVGARDM.eot?#font-spider') format('embedded-opentype'),
      url('AVGARDM.woff') format('woff'),
      url('AVGARDM.ttf') format('truetype'),
      url('AVGARDM.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}